.skills{
    max-width: 100%;
    height: 25%;
    padding-top: 5rem;
    margin: 1rem;
    justify-content:space-around;
    align-items: center;
    margin-top: 10rem;
    
    
   

 
}




        
 
    
 
 
 
    